.logo {
    position: relative;
    margin: 0 0 0 9%;
    width: 160px;
    height: 150px;
    background-color: #fff;
    border: 2px solid #dfdfdf;
    position: relative;
    display: block;
    background-color: #fff;
    background-image: url(/img/porschelogosec.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    cursor: pointer;
    // width: 200px;
    // min-width: 105px;
    // height: 230px;
    // min-height: 105px;
}

// border: 1px solid #dfdfdf;
