.logo{
    position: relative;
    display: block;
    border: 1px solid #b4b4b4;
    background-color: #fff;
    background-image: url(/img/porschelogo.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    width: 170px;
    min-width: 105px;
    height: 185px;
    min-height: 105px;
    // top: 0px;
}