.menu-container {
    display: flex;
    margin: 0 0 0 60px;

    .model718 {
        background-color: #fff;
        border: none;
        height: 144px;
        margin: 20px 0px 0px -10px;

        .textmenucont{
            position: relative;
            top: -20px;
           
        }
        .textshopmore{
            font-size: 26px;
        }
&:hover{
    color: #ff0000;
    border-bottom: 4px solid #ff0000;
}
    }
}
