/* .nav-content{
    position: relative;
    display: flex;
    margin: 0 6% 0 0;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    text-align: center;
    
    @media (max-width:1299px){
        display: none;
    }
    .firstModel{
        position: relative;
        display: block;
        &:hover{
    color: red;
    transition: 0.2s;
        }
    }

    .firstModel:hover .secondMenu{
        display: flex;
    }
} */
