.navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 185px;
    margin: 0 9% 0 9%;

#icnons{
    position: relative;
    top: 15px;
}

    ul {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        text-align: center;

        li {
            
            position: relative;
            margin: 0px 15px;
            left: 10px;
            transition: 0.1s;
            
            a {
                position: relative;
                text-decoration: none;
                color: black;
                font-size: 22px;
                padding: 10px;
                transition: 0.1s;
                &:hover{
                    color: #f00;
                }

            }
            &:hover{
                color: #ff0000;
                border-bottom: 4px solid #ff0000;
                width: 100%;

            }
        }
        
    }
}
