.profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    font-size: 20px;
    cursor: pointer;

    // @media (max-width: 1359px) {
    //     display: block;
    //     @media (max-width: 1299px) {
    //         display: none;
    //     }
    // }

    .profText:hover {
        transition: 0.2s;
        color: red;
    }
}
