.all-mod {
    position: absolute;
    margin: 275px 45px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 65px;
    grid-gap: 115px;
    text-align: center;

    .button-model {
        width: 220px;
        background-color: #fff;
        border: 1px solid #fff;
        color: #000;
        font-size: 20px;
        padding: 15px;
        transition: all 0.4s;
        &:hover {
            background-color: #ff0000;
            border: 1px solid #ff0000;
            color: #fff;
        }
    }

    .button-all-model {
        width: 120px;
        margin: 0px 5px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #fff;
        color: #fff;
        padding: 10px;
        &:hover {
            border: 1px solid #ff0000;
            color: #ff0000;
            transition: 0.4s;
        }
    }
}