* {
	margin: 0px;

	.model-box {
		position: relative;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(530px, 1fr));
		grid-template-rows: 470px 470px;
		grid-auto-rows: minmax(196px, auto);
		grid-gap: 0px;
		background-color: rgba(0, 0, 0, 0.444);
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		
		.price {
		
			 font-size: 23px;
			 margin: 0px 50px;
		}

		.car-box {
			background-color: rgba(0, 0, 0, 0.555);
			color: #fff;
			text-align: left;

			h1 {
				margin: 0px 50px;
				font-size:50px;
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				font-family: 'Baloo Chettan 2', cursive;
				font-weight: 600;
			}
		}

		.car-718 {
			background-image: url(/img/porsche-718.webp);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			transition: all 0.6s;
			&:hover {
				background-size: 105%;
			}
		}

		.car-911 {
			background-image: url(/img/porsche-911.webp);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			transition: all 0.6s;

			&:hover {
				background-size: 105%;
			}
		}

		.car-taycan {
			background-image: url(/img/porsche-taycan.webp);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			transition: all 0.6s;
			&:hover {
				background-size: 105%;
			}
		}

		.car-panamera {
			background-image: url(/img/porsche-panamera.webp);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			transition: all 0.6s;
			&:hover {
				background-size: 105%;
			}
		}

		.car-macan {
			background-image: url(/img/porsche-small.webp);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			transition: all 0.6s;
			&:hover {
				background-size: 105%;
			}
		}

		.car-cayenne {
			background-image: url(/img/porsche-cayenne.webp);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			transition: all 0.6s;
			&:hover {
				background-size: 105%;
			}
		}
	}
}
