.carousel-item {
    cursor: pointer;
    .sliderText {
        h2 {
            font-size: 60px;
        }
        p {
            font-size: 30px;
        }
        color: #fff;
        text-align: start;
        &:hover {
            color: red;
        }
    }
}
